.orderDetail {
  width: 880px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #efefef;
}
.orderDetail .orderLeft {
  width: 530px;
  border-right: 1px solid #efefef;
}
.orderDetail p {
  font-size: 13px;
  color: #888;
  margin-bottom: 10px;
}
.orderDetail .status {
  color: #ff2e2e;
}
.detailList {
  width: 880px;
  margin: 20px auto;
  padding: 20px;
  padding-right: 0;
  box-sizing: border-box;
}
.detailList .listHe,
.detailList .listC {
  border-bottom: 1px solid #efefef;
}
.detailList .listHe span,
.detailList .listC span {
  display: inline-block;
  padding: 10px;
  font-size: 13px;
  color: #888;
}
.detailList .listHe .t1,
.detailList .listC .t1 {
  width: 285px;
}
.detailList .listHe .t2,
.detailList .listC .t2 {
  width: 255px;
}
.detailList .listHe .t3,
.detailList .listC .t3 {
  width: 160px;
}
.detailList .listHe .t4,
.detailList .listC .t4 {
  width: 160px;
}
.detailList .listHe .totalPrice,
.detailList .listC .totalPrice {
  color: #fd6955;
}
.detailList .listHe img,
.detailList .listC img {
  margin-right: 15px;
}
.detailList .listHe .orderName,
.detailList .listC .orderName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #393939;
  display: block;
  width: 170px;
  padding: 0;
  margin-bottom: 5px;
}
.detailList .listHe .price,
.detailList .listC .price {
  color: #fe7701;
  display: block;
  width: 170px;
  padding: 0;
  margin-bottom: 5px;
}
.detailList .listHe .allPrice,
.detailList .listC .allPrice {
  color: #9e9e9e;
  display: block;
  width: 170px;
  padding: 0;
  margin-bottom: 5px;
}
.detailList .payC {
  margin-top: 20px;
}
.detailList .payC span {
  font-size: 13px;
  color: #888;
}
.detailList .payC b {
  color: #ed2121;
  font-size: 22px;
}
.detailList .payC .payBtn {
  width: 130px;
  border-radius: 3px;
  display: block;
  background-color: #fe7701;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
}
