.recommendedData {
  width: 1200px;
  margin: 30px auto 0 auto;
  margin-bottom: 40px;
}
.recommendedData .personalLeft {
  width: 260px;
  margin-right: 10px;
}
.recommendedData .personalRight {
  width: 930px;
  padding: 25px 25px 40px 25px;
  box-sizing: border-box;
  background-color: #fff;
}
.recommendedData .personalRight .pageTitle {
  border-bottom: 2px solid #dbdbdb;
}
.recommendedData .personalRight .pageTitle .title {
  border-bottom: 2px solid #fe7701;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 100;
  padding: 0 20px ;
  margin: 0 auto -2px;
  text-align: center;
}
.recommendedData .personalRight .pageTitle h1 {
  font-size: 24px;
  display: inline-block;
}
.recommendedData .personalRight .pageTitle .geren {
  color: #4c4c4c;
}
.recommendedData .personalRight .pageTitle .con {
  color: #fe7701;
}
.menus {
  background-color: #fe7701;
  width: 240px;
  height: 172px;
  color: #fff;
}
.menus .title {
  padding-top: 80px;
  padding-left: 20px;
}
.menus .title h1 {
  font-size: 26px;
}
.menus .title span {
  font-size: 18px;
}
.menuList {
  width: 260px;
  padding: 5px 0 25px 0;
  box-sizing: border-box;
}
.menuList #listContent {
  background-color: #fff;
  width: 240px;
}
.menuList #listContent a {
  color: #313030;
  font-size: 14px;
  display: block;
  padding: 10px 0;
  text-indent: 30px;
  position: relative;
}
.menuList #listContent .active {
  background-color: #fe7701;
  color: #fff;
}
.menuList #listContent .active .arrow {
  border-left-color: #fe7701 ;
}
.menuList #listContent .arrow {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
}
