.blocks {
  font-size: 14px;
  color: #323232;
}
.blocks .tips {
  font-size: 14px;
  color: #ff7200;
  padding-top: 30px;
}
.blocks .tips span {
  color: #000;
}
.blocks .left {
  text-align: left;
  width: 80px;
  display: table-cell;
  vertical-align: middle;
  color: #888;
}
.blocks .block {
  margin-top: 20px;
  display: table;
}
.blocks .block1 .right {
  font-size: 14px;
  color: #727272;
  padding-left: 15px;
}
.blocks .block1 img {
  vertical-align: top;
}
.blocks .right {
  display: table-cell;
  vertical-align: middle;
}
.blocks label {
  padding: 0 5px;
  margin-right: 15px;
  color: #4b4b4b;
}
.block2 .phoneNum,
.block3 .phoneNum,
.block7 .phoneNum,
.block2 .nickInput,
.block3 .nickInput,
.block7 .nickInput,
.block2 .address,
.block3 .address,
.block7 .address {
  font-size: 14px;
  color: #727272;
  padding: 3px 10px;
  width: 490px;
  box-sizing: border-box;
}
.address {
  height: 80px;
}
.block4 select,
.block5 select {
  margin-right: 10px;
  width: 154px;
  height: 30px;
  color: #888;
}
.block6 {
  margin-left: 80px;
}
.block6 .saveBtn {
  width: 150px;
  border-radius: 3px;
  display: block;
  background-color: #fe7701;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.block8 {
  margin-left: 80px;
  margin-top: 30px !important;
}
.block8 label {
  color: #fe7701;
}
.addressList {
  width: 870px;
  margin: 80px auto 0 auto;
  color: #888;
}
.addressList .saveCount {
  padding: 5px 10px;
  background-color: #f6f6f6;
  font-size: 14px;
  border: 1px solid #e8e8e8;
}
.lists {
  margin-top: 30px;
}
.lists .listsTitle {
  border-bottom: 1px solid #e5e5e5;
  padding: 0px 0 10px 0;
}
.lists span {
  display: inline-block;
  padding: 0px 10px;
  box-sizing: border-box;
  font-size: 13px;
  color: #888;
}
.lists .t1 {
  width: 90px;
}
.lists .t2 {
  width: 190px;
}
.lists .t3 {
  width: 250px;
}
.lists .t4 {
  width: 140px;
}
.lists .t5 {
  width: 200px;
}
.lists .t5 a {
  color: #fe7701;
}
.lists .t5 i {
  color: #fe7701;
  padding: 0 5px;
}
.lists .t5 .setDefaultBtn {
  border: 1px solid #fe7701;
  border-radius: 2px;
  background-color: #fff6ee;
  color: #fe7701;
  text-align: center;
  padding: 2px 5px;
  font-size: 13px;
  margin-left: 24px;
  cursor: pointer;
}
.lists .listsDetail {
  padding: 15px 0;
  border-bottom: 1px dashed #e5e5e5;
}
.lists .listsDetail:last-child {
  border: none;
}
