#fotter
    .content
        .top.clear
            .left
                .one.pull-left
                    p 联系我们
                    p 联系地址
                    p 重庆市渝中区大坪英利国际广场
                    p 联系电话：023-62532253
                .tow.pull-left
                    p 支付方式
                    p 微信
                    p 支付宝
                    p 账户余额
            .right
                p 关注我们
                img(src="../image/erweima.png")
                p 手机客户端下载

        .bottom
            img(src="../image/cnzz.png")
            p 重庆叮咚阿姨家政服务责任有限公司版权所有；备案号：渝ICP备1698349805号-3

