#header
    .content.clear
        .left
            a.middle.cursorp(href="../index.html")
                img(src="../image/logo.png")
            span.middle.line-length
            span.middle 重庆
            a.cursorP.middle(href="changeCity.html") [切换城市]
        ul.medi
            li.active
                a(href="../index.html") 首页
                i
            li
                a(href="chinanet.html") 服务
                i
            li
                a(href="member.html") 会员
                i
            li
                a(href="integral.html") 积分
        ul.medi.right
            li.active
                a(href="login.html") 登录
                i
            li.active
                a(href="register.html") 注册
