#header
    .content
        .left
            a.middle.cursorp(href="/views/about.html")
                img(src="../image/logo.png")
            span.middle.line-length
            span.middle 重庆
            i.cursorP.middle [切换城市]
        ul.medi
            li.active
                a(href="") 首页
                i
            li
                a(href="") 服务
                i
            li
                a(href="") 会员
                i
            li
                a(href="") 积分
        ul.medi.right
            li.active
                a(href="") 登录
                i
            li.active
                a(href="") 注册
