<!DOCTYPE html>
<html lang="en">
  <head>
    <title>包月服务</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta content="telephone=yes" name="format-detection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
    <link rel="apple-touch-icon" href="assets/image/favicon.png"/>
    <link rel="shortcut icon" href="assets/image/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../style/common.css"/>
    <link rel="stylesheet" href="../style/appointment.css"/>
  </head>
  <body>
    <div id="header">
      <div class="content clear">
        <div class="left"><a href="../index.html" class="middle cursorp"><img src="../image/logo.png"/></a><span class="middle line-length"></span><span class="middle">重庆</span><a href="changeCity.html" class="cursorP middle">[切换城市]</a></div>
        <ul class="medi">
          <li class="active"><a href="../index.html">首页</a><i></i></li>
          <li><a href="chinanet.html">服务</a><i></i></li>
          <li><a href="member.html">会员</a><i></i></li>
          <li><a href="integral.html">积分</a></li>
        </ul>
        <ul class="medi right">
          <li class="active"><a href="login.html">登录</a><i></i></li>
          <li class="active"><a href="register.html">注册</a></li>
        </ul>
      </div>
    </div>
    <div id="content" class="appointment">
      <div class="content">
        <h1>选择服务地址</h1>
      </div>
      <div class="content form">
        <ul class="clear">
          <li class="active">
            <p><span>杨洁</span><i>1375285781</i></p><span>重庆市九龙坡区黄杨路83号保利港湾国际4-30-3</span>
            <div class="address"><b>默认地址</b>
              <p><a href=""><img src="../image/chinanet/icon02.png"/></a><a href=""><img src="../image/chinanet/icon03.png"/></a></p>
            </div>
          </li>
          <li>
            <p><span>杨洁</span><i>1375285781</i></p><span>重庆市九龙坡区黄杨路83号保利港湾国际4-30-3</span>
          </li>
          <li><a href="">
              <div class="add"><img src="../image/chinanet/icon01.png"/>
                <div>使用新地址</div>
              </div></a></li>
        </ul>
        <form class="formbox">
          <div class="title"><a href=""><span>新增服务地址</span><b>(均为必填项）</b></a></div>
          <div>
            <label><span>联系人:</span>
              <input placeholder="长度不能超过25个字符"/>
            </label>
          </div>
          <div>
            <label><span>手机:</span>
              <input/>
            </label>
          </div>
          <div>
            <label><span>所在区域:</span>
              <select>
                <option value="value">重庆</option>
                <option value="value">四川</option>
                <option value="value">贵州</option>
              </select>
              <select>
                <option value="value">重庆市</option>
                <option value="value">成都</option>
                <option value="value">贵阳</option>
              </select>
              <select>
                <option value="value">九龙坡区</option>
                <option value="value">桥本的</option>
                <option value="value">是的风格</option>
              </select>
            </label>
          </div>
          <div>
            <label><span>详细地址:</span>
              <textarea placeholder="建议您如实填写详细服务地址，例如街道名称，门牌号码，楼层和房间号等信息"></textarea>
            </label>
          </div>
          <div class="radio-box">
            <label><span></span>
              <input type="checkbox"/><i>设置为默认服务地址</i>
            </label>
          </div>
          <div class="rq"><a href="" class="qr">确认地址</a><a href="">取消</a></div>
        </form>
      </div>
      <div class="content">
        <h4>确认订单信息</h4>
        <div class="detailList">
          <div class="listHe clear"><span class="t1 pull-left">服务</span><span class="t2 pull-left">预约时间</span><span class="t3 pull-left">面积(m²)</span><span class="t4 pull-left">总金额(元)</span></div>
          <div class="listC clear"><span class="t1 pull-left"><img src="../image/personalCenter/orderImg.png" width="72" height="72" class="pull-left"/><span title="地砖保养" class="orderName pull-left">地砖保养</span><span class="price pull-left">￥60/m²</span><span class="allPrice pull-left">500元起</span></span><span class="t2 pull-left">2016-06-06  12:00</span><span class="t3 pull-left">32m²</span><span class="t4 pull-left totalPrice">555.00元</span></div>
          <div class="text-box">
            <h5>备注</h5>
            <textarea></textarea>
          </div>
          <div class="pay clear">
            <div class="payC pull-right"><span class="pull-left">总计:<b>￥200.00</b></span><a href="" class="payBtn pull-right">立即预约</a></div>
          </div>
        </div>
      </div>
    </div>
    <div id="fotter">
      <div class="content">
        <div class="top clear">
          <div class="left">
            <div class="one pull-left">
              <p>联系我们</p>
              <p>联系地址</p>
              <p>重庆市渝中区大坪英利国际广场</p>
              <p>联系电话：023-62532253</p>
            </div>
            <div class="tow pull-left">
              <p>支付方式</p>
              <p>微信</p>
              <p>支付宝</p>
              <p>账户余额</p>
            </div>
          </div>
          <div class="right">
            <p>关注我们</p><img src="../image/erweima.png"/>
            <p>手机客户端下载</p>
          </div>
        </div>
        <div class="bottom"><img src="../image/cnzz.png"/>
          <p>重庆叮咚阿姨家政服务责任有限公司版权所有；备案号：渝ICP备1698349805号-3</p>
        </div>
      </div>
    </div>
    <script src="../js/common.js"></script>
  </body>
</html>