<!DOCTYPE html>
<html lang="en">
  <head>
    <title>详情页</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta content="telephone=yes" name="format-detection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
    <link rel="apple-touch-icon" href="assets/image/favicon.png"/>
    <link rel="shortcut icon" href="assets/image/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../style/common.css"/>
    <link rel="stylesheet" href="../style/personalLeftmenu.css"/>
    <link rel="stylesheet" href="../style/detailImg.css"/>
  </head>
  <body>
    <div id="header">
      <div class="content clear">
        <div class="left"><a href="../index.html" class="middle cursorp"><img src="../image/logo.png"/></a><span class="middle line-length"></span><span class="middle">重庆</span><a href="changeCity.html" class="cursorP middle">[切换城市]</a></div>
        <ul class="medi">
          <li class="active"><a href="../index.html">首页</a><i></i></li>
          <li><a href="chinanet.html">服务</a><i></i></li>
          <li><a href="member.html">会员</a><i></i></li>
          <li><a href="integral.html">积分</a></li>
        </ul>
        <ul class="medi right">
          <li class="active"><a href="login.html">登录</a><i></i></li>
          <li class="active"><a href="register.html">注册</a></li>
        </ul>
      </div>
    </div>
    <div id="content">
      <div class="content detailImg">
        <div class="top clear">
          <div class="topLeft pull-left"><img src="../image/common/detailImg.png"/></div>
          <div class="topRight pull-right">
            <div class="buyDetail">
              <p class="title">家庭保洁
                <p class="price">价格：<span class="danjia">￥1.2/m²</span><span class="qi">87元起</span></p>
                <p class="buyCount">112人购买</p>
              </p>
            </div>
            <div class="share"><span class="collection">收藏</span><span class="shares">分享</span></div>
            <div class="blockbottom">
              <p class="roomsize"><span class="room">房间大小</span><span class="pf">55</span><span class="size">m²</span><span class="total">共55m²</span></p>
              <p class="telPhone">联系电话：<span class="num">123579485</span></p>
              <p class="time">预约时间：<span class="dateTime">2016-06-06 12:00</span><span class="dateImg"></span></p><span class="yuyueBtn">立即预约</span>
            </div>
          </div>
        </div>
        <div class="bottom clear">
          <div class="bottomLeft pull-left">
            <div class="tab"><span class="imgDetail active">图文详情</span><span class="pingjia">累计评价</span></div>
            <div class="tabCotent tabBox">
              <div class="serviceTitle">服务范围</div>
              <div class="imgList">
                <div class="listc"><a><img src="../image/common/serviceImg.png"/></a>
                  <p class="desribe">家居、家电表面除尘编码物品整理</p>
                </div>
                <div class="listc"><a><img src="../image/common/serviceImg.png"/></a>
                  <p class="desribe">家居、家电表面物品整理</p>
                </div>
                <div class="listc"><a><img src="../image/common/serviceImg.png"/></a>
                  <p class="desribe">家居、家电表面</p>
                </div>
                <div class="listc"><a><img src="../image/common/serviceImg.png"/></a>
                  <p class="desribe">家居、家电表面除尘</p>
                </div>
                <div class="listc"><a><img src="../image/common/serviceImg.png"/></a>
                  <p class="desribe">家居、家电表面除尘编码物品整理</p>
                </div>
                <div class="listc"><a><img src="../image/common/serviceImg.png"/></a>
                  <p class="desribe">家居、家电表面物品整理</p>
                </div>
                <div class="listc"><a><img src="../image/common/serviceImg.png"/></a>
                  <p class="desribe">家居、家电表面</p>
                </div>
                <div class="listc"><a><img src="../image/common/serviceImg.png"/></a>
                  <p class="desribe">家居、家电表面除尘</p>
                </div>
              </div>
              <div class="standard">
                <div class="standardTitle">服务标准</div>
                <p class="p1"><span class="img1 imgSpan"></span><span>地面干净，离开时带走垃圾</span></p>
                <p class="p2"><span class="img2 imgSpan"></span><span>室内整体光亮无尘，镜面及室内玻璃污污渍，无水印，物品整齐归位</span></p>
                <p class="p3"><span class="img3 imgSpan"></span><span>厨房清洁无油烟，浴室光洁无水渍，水龙头及水池无污渍、无水印、无杂物</span></p>
              </div>
              <!--.page-->
              <!--    .pageC-->
              <!--        span.currentPage 共15页/200条-->
              <!--        .pages-->
              <!--            a.active(href="") 1-->
              <!--            a(href="") 2-->
              <!--            a(href="") 3-->
              <!--            a(href="") 4-->
              <!--            a(href="") 5-->
              <!--            a(href="") 6-->
              <!--        a.nextPage 后一页-->
              <!--        a.last 末页-->
            </div>
            <div style="display:none" class="evaluatelist tabBox">
              <div class="block1">
                <div class="blockList clear"><img src="../image/personalCenter/orderImg.png" width="72" height="72" class="pull-left"/>
                  <div class="describe pull-left">
                    <div class="sName"> 地砖保养</div>
                    <div class="sdes">非常不错的一次服务，工作人员看起来非常专业，地砖保养得很仔细，而且服务态度也非常好,个人大大的推荐，绝对好，包你满意的一次服务，真心好</div>
                  </div>
                  <div class="time pull-right"> 2016 06-06  12:00</div>
                </div>
                <div class="imgList"><img src="../image/personalCenter/evimg_03.png" width="89" height="89" class="pull-left"/><img src="../image/personalCenter/evimg_03.png" width="89" height="89" class="pull-left"/><img src="../image/personalCenter/evimg_03.png" width="89" height="89" class="pull-left"/><img src="../image/personalCenter/evimg_03.png" width="89" height="89" class="pull-left"/><img src="../image/personalCenter/evimg_03.png" width="89" height="89" class="pull-left"/><img src="../image/personalCenter/evimg_03.png" width="89" height="89" class="pull-left"/><img src="../image/personalCenter/evimg_03.png" width="89" height="89" class="pull-left"/><img src="../image/personalCenter/evimg_03.png" width="89" height="89" class="pull-left"/><img src="../image/personalCenter/evimg_03.png" width="89" height="89" class="pull-left"/><img src="../image/personalCenter/evimg_03.png" width="89" height="89" class="pull-left"/></div>
              </div>
              <div class="block1">
                <div class="blockList clear"><img src="../image/personalCenter/orderImg.png" width="72" height="72" class="pull-left"/>
                  <div class="describe pull-left">
                    <div class="sName"> 地砖保养</div>
                    <div class="sdes">非常不错的一次服务，工作人员看起来非常专业，地砖保养得很仔细，而且服务态度也非常好,个人大大的推荐，绝对好，包你满意的一次服务，真心好</div>
                  </div>
                  <div class="time pull-right"> 2016 06-06  12:00</div>
                </div>
                <div class="imgList"><img src="../image/personalCenter/evimg_03.png" width="89" height="89" class="pull-left"/><img src="../image/personalCenter/evimg_03.png" width="89" height="89" class="pull-left"/></div>
              </div>
              <div class="block1">
                <div class="blockList clear"><img src="../image/personalCenter/orderImg.png" width="72" height="72" class="pull-left"/>
                  <div class="describe pull-left">
                    <div class="sName"> 地砖保养</div>
                    <div class="sdes">非常不错的一次服务，工作人员看起来非常专业，地砖保养得很仔细，而且服务态度也非常好,个人大大的推荐，绝对好，包你满意的一次服务，真心好</div>
                  </div>
                  <div class="time pull-right"> 2016 06-06  12:00</div>
                </div>
                <div class="imgList"></div>
              </div>
              <div class="block1">
                <div class="blockList clear"><img src="../image/personalCenter/orderImg.png" width="72" height="72" class="pull-left"/>
                  <div class="describe pull-left">
                    <div class="sName"> 地砖保养</div>
                    <div class="sdes">非常不错的一次服务，工作人员看起来非常专业，地砖保养得很仔细，而且服务态度也非常好,个人大大的推荐，绝对好，包你满意的一次服务，真心好</div>
                  </div>
                  <div class="time pull-right"> 2016 06-06  12:00</div>
                </div>
                <div class="imgList"></div>
              </div>
              <div class="page">
                <div class="pageC"><span class="currentPage">共15页/200条</span>
                  <div class="pages"><a href="" class="active">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a><a href="">6</a></div><a class="nextPage">后一页</a><a class="last">末页</a>
                </div>
              </div>
            </div>
          </div>
          <div class="bottomRight pull-right">
            <p class="topTitle">推荐服务</p>
            <div class="serverList">
              <div class="serverBlock"><img src="../image/personalCenter/service.png"/>
                <div class="serviceb clear">
                  <div class="serLeft pull-left title">日常保洁</div>
                  <div class="serRight pull-right byeNum">139人购买</div>
                </div>
                <div class="serPrice clear"><span class="price">￥1.5/m²</span><span class="allPrice">34元起</span></div>
              </div>
              <div class="serverBlock"><img src="../image/personalCenter/service.png"/>
                <div class="serviceb">
                  <div class="serLeft pull-left title">日常保洁</div>
                  <div class="serRight pull-right byeNum">139人购买</div>
                </div>
                <div class="serPrice clear"><span class="price">￥1.5/m²</span><span class="allPrice">34元起</span></div>
              </div>
              <div class="serverBlock"><img src="../image/personalCenter/service.png"/>
                <div class="serviceb clear">
                  <div class="serLeft pull-left title">日常保洁</div>
                  <div class="serRight pull-right byeNum">139人购买</div>
                </div>
                <div class="serPrice"><span class="price">￥1.5/m²</span><span class="allPrice">34元起</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="fotter">
      <div class="content">
        <div class="top clear">
          <div class="left">
            <div class="one pull-left">
              <p>联系我们</p>
              <p>联系地址</p>
              <p>重庆市渝中区大坪英利国际广场</p>
              <p>联系电话：023-62532253</p>
            </div>
            <div class="tow pull-left">
              <p>支付方式</p>
              <p>微信</p>
              <p>支付宝</p>
              <p>账户余额</p>
            </div>
          </div>
          <div class="right">
            <p>关注我们</p><img src="../image/erweima.png"/>
            <p>手机客户端下载</p>
          </div>
        </div>
        <div class="bottom"><img src="../image/cnzz.png"/>
          <p>重庆叮咚阿姨家政服务责任有限公司版权所有；备案号：渝ICP备1698349805号-3</p>
        </div>
      </div>
    </div>
    <script src="../js/plugins/zepto.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/detail.js"></script>
  </body>
</html>