<!DOCTYPE html>
<html lang="en">
  <head>
    <title>注册</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta content="telephone=yes" name="format-detection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
    <link rel="apple-touch-icon" href="assets/image/favicon.png"/>
    <link rel="shortcut icon" href="assets/image/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../style/common.css"/>
    <link rel="stylesheet" href="../style/login.css"/>
  </head>
  <body>
    <div id="header">
      <div class="content">
        <div class="left"><a href="../index.html" class="middle cursorp"><img src="../image/logo.png"/></a><span class="middle line-length"></span><span class="middle">用户注册</span></div>
      </div>
    </div>
    <div id="content" class="login">
      <div class="banner">
        <div class="content"><img src="../image/login/banner01.png"/>
          <div class="box">
            <h2><span>用户注册</span><i>/ USER REGISTRATION</i></h2>
            <form class="form1">
              <div class="lable">
                <label><span>手机号:</span>
                  <input type="text"/>
                </label>
              </div>
              <div class="lable">
                <label><span>密&nbsp;&nbsp;&nbsp;&nbsp;码:</span>
                  <input type="password"/>
                </label>
              </div>
              <div class="lable">
                <label><span>验证码:</span>
                  <input type="text" style="width: 120px;"/><b>获取验证码</b>
                </label>
              </div>
              <div class="check-box1">
                <input type="checkbox" id="check-box"/>
                <label for="check-box">我已阅读并同意</label><a>《叮咚阿姨注册协议》</a>
              </div>
              <div class="log-btn"><a href="">提交注册</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="loginFotter"><span>重庆叮咚阿姨家政服务责任有限公司版权所有；备案号：渝ICP备1698349805号-3</span></div>
    <script src="../js/common.js"></script>
  </body>
</html>