.index{ padding-bottom:20px;
  .banner{ text-align: center; background: url("../image/index/index_21.png"); height:487px;}
  .h2{ text-align: center; padding: 10px 0 15px;
    .title{ border-bottom: 1px solid #828282; position: relative; margin: 30px auto 30px; font-size: 40px;
      font-weight: bold; width: 320px;
      span{ position: absolute; background: #f4f4f4; top:-25px; left:60px; width: 200px;}
    }
    >span{ color: #828282;}
  }
  .box1{ background: #FFF; padding: 30px 0 17px 30px; margin-bottom: 30px;
    li{ float: left; text-align: center;  width: 276px; height:216px; margin:0 13px 13px 0; }
    a{ display: block; widht:100%; height: 100%; font-size: 30px;  color: #FFF;
      img{ margin-top:20px;}
      span{ display: block;}
    }
    li:hover{ box-shadow: 0 0 10px #999;}
  }
  .box2{ background: #FFF; padding: 15px; margin-bottom: 30px;
    li{ float: left; text-align: center;  width: 360px; height:370px; margin:15px;
      position: relative; background: #f4f4f4; }
    a{ display: block; widht:100%; height: 100%; font-size: 30px;
      .img{
        img{display: block; width: 100%;}
      }
      .about{ position: absolute; top:180px; left:130px; width:100px; height:100px;
        border-radius: 50px; background: #FFF; padding:5px 0 0 5px;
      }
      p{ font-size: 26px; margin-top:60px; line-height: 40px;}
      span{ display: block; font-size: 18px;}
    }
    li:hover{ box-shadow: 0 0 10px #999;}
  }
}