.evaluatelist{
  .block1{
    overflow: hidden;display: block;width: 880px; margin: 0 auto;padding: 20px 0 20px 20px;border-bottom: 1px dashed #e5e5e5;
    .describe{margin-left: 20px;width: 600px;
      .sName{font-size: 14px;color: #393939}
      .sdes{width: 600px;word-break: break-all; line-height: 1.5em;font-size: 13px; color: #888; margin-top: 10px;}
    }
    .blockList{overflow: hidden; }
    .time{font-size: 13px; color: #858585}
    .imgList{width: 600px;  margin-left: 90px;
      img{margin-right: 15px;margin-top: 10px;}
    }
  }
}

.page{
  width: 880px;margin: 20px auto;
  .pageC{
    text-align: center;
    .currentPage,.pages,.nextPage,.last{display: inline-block;padding: 0 5px; font-size: 13px;}
    .currentPage{color:#fe7701 }
    .nextPage,.last{background-color:#f85600;color: #fff; padding: 3px 10px;text-align: center;margin-left: 10px;border-radius: 3px;}
    .pages a{display: inline-block;padding:4px 7px; margin: 0 5px;background-color: #fff;border-radius: 5px}
    .pages a.active{background-color: #f85600;color: #fff;}
  }
}