<!DOCTYPE html>
html(lang="en")
    head
        title 首页
        include layout/meta
        link(rel="stylesheet",href="../style/common.css")
        link(rel="stylesheet" href="../style/index.css")
    body
        include layout/head
        #content
            .describe.pd14 公司以推动企业移动信息化为己任，遵循“创新、技术、服务，顾问”的
                | 核心理念。作为一家科技公司，在项目中更加注重于技术研发与用户体验，
                |  公司拥有一支业界资深人员构成的核心研发团队，具备良好的团队协作精
                |  神。核心成员曾在行业大型企业担任过技术总监，设计总监，产品经理，
                |  项目经理等职位，拥有近10年的信息化经验，公司并与业界顶尖技术研发
                |  建立合作，作为公司管理、研发顾问。公司制定了严格的项目管理模式，
                | 为企业高效实施信息化、预期效益最大化，在确保项目质量的情况下及时
                |  成功上线。公司同时也建立了一套完整的服务体系，客户能及时了解、跟
                |  踪研发进度，咨询服务，售后问题处理。
        include layout/fotter
        script(src="../js/common.js")





