<!DOCTYPE html>
html(lang="en")
    head
        title 个人中心_关于我们
        include layout/meta
        link(rel="stylesheet",href="../style/common.css")
        link(rel="stylesheet" href="../style/personalLeftmenu.css")
        link(rel="stylesheet" href="../style/aboutUs.css")
    body
        include layout/head
        #content.recommendedData.clear
            .personalLeft.pull-left
                .menus
                    .title
                        h1 个人中心
                        span Personal Center
                .menuList
                    #listContent
                        a(href="") 我的订单
                            span.arrow
                        a(href="" ) 我的收藏
                            span.arrow
                        a(href="") 我的评价
                            span.arrow
                        a(href="") 我的积分
                            span.arrow
                        a(href="") 关于我们
                            span.arrow
                        a(href="") 修改密码
                            span.arrow
                        a(href="") 意见反馈
                            span.arrow
                        a.active(href="") 服务地址
                            span.arrow
            .personalRight.pull-right
                .pageTitle
                    span.title
                        h1.geren 关于
                        h1.con 我们
                img.aboutusImg(src="../image/personalCenter/aboutUs.png")
                .aboutdetail
                   .title 公司简介
                   p.content 我们提供室内外清洁、打蜡，房屋开荒，月嫂、育婴，催乳，老年护理员，护工，钟点工，涉外家政，别墅管家，等服务。同时又提供月子护理、家庭管家、老人陪护、管道疏通、开荒保洁、室内外清洁、打蜡、清洗地毯、沙发、月嫂服务、管家、钟点工等服务

                .aboutdetail
                    .title 服务内容
                    p.content （1）一般家务：制作家庭便餐、家居保洁、衣物洗涤、园艺等等，以器物的服务为主；
                    p.content （2）看护婴幼儿：对婴幼儿的照料、看管；
                    p.content （3）护理老年人：照料、陪护老年人；
                    p.content （4）护理老年人：照料、陪护老年人；p.content 涤、园艺等等，以器物的服务为主；
                    p.content （5）看护婴幼儿：对婴幼儿的照料、看管；
                    p.content （6）一般家务：制作家庭便餐、家居保洁
                    p.content （7）看护婴幼儿：对婴幼

        include layout/fotter
        script(src="../js/common.js")





