<!DOCTYPE html>
html(lang="en")
    head
        title 补差价
        include layout/meta
        link(rel="stylesheet",href="../style/common.css")
        link(rel="stylesheet" href="../style/chinanet.css")
    body
        include layout/head
        #content.chinanet
            .content.banner
                    img(src="../image/chinanet/banner02.png")
                    .box.box2
                        h2 补差价
                        div
                            span 价格
                            b 200
                            span 元

            .content.form
                h4 选择服务地址
                ul.clear
                    li.active
                        p
                            span 杨洁
                            i 1375285781
                        span 重庆市九龙坡区黄杨路83号保利港湾国际4-30-3
                        .address
                            b 默认地址
                            p
                                a(href="")
                                    img(src="../image/chinanet/icon02.png")
                                a(href="")
                                    img(src="../image/chinanet/icon03.png")
                     li
                        p
                            span 杨洁
                            i 1375285781
                        span 重庆市九龙坡区黄杨路83号保利港湾国际4-30-3
                    li
                        a(href="")
                            .add
                                img(src="../image/chinanet/icon01.png")
                                div 使用新地址

                h4 备注
                textarea
                div
                    a.botton(href="") 确定支付



        include layout/fotter
        script(src="../js/common.js")





