<!DOCTYPE html>
html(lang="en")
    head
        title 切换城市
        include layout/meta
        link(rel="stylesheet",href="../style/common.css")
        link(rel="stylesheet" href="../style/changeCity.css")
    body
        #content.changeCity
            .content
                img.big-img(src="../image/city.png")
                .top
                    b 搜索城市
                    input
                    b 热门
                    a(href="") 北京
                    a(href="") 上海
                    a(href="") 广州
                    a(href="") 重庆

                h3 按照拼音字母选择
                ul
                    li.clear
                         .left
                             a.first A
                         .right
                             a(href="") 北京
                             a(href="") 上海
                             a(href="") 广州
                             a(href="") 重庆
                             a(href="") 北京
                             a(href="") 上海
                             a(href="") 广州
                             a(href="") 重庆
                    li.clear
                        .left
                            a.first B
                        .right
                            a(href="") 北京
                            a(href="") 上海
                            a(href="") 广州
                            a(href="") 重庆
                            a(href="") 北京
                            a(href="") 上海
                            a(href="") 广州
                            a(href="") 重庆
                            a(href="") 北京
                            a(href="") 上海
                            a(href="") 广州
                            a(href="") 重庆
                            a(href="") 北京
                            a(href="") 上海
                            a(href="") 广州
                            a(href="") 重庆
                            a(href="") 北京
                            a(href="") 上海
                            a(href="") 广州
                            a(href="") 重庆
                            a(href="") 北京
                            a(href="") 上海
                            a(href="") 广州
                            a(href="") 重庆
                            a(href="") 北京
                            a(href="") 上海
                            a(href="") 广州
                            a(href="") 重庆
                            a(href="") 北京
                            a(href="") 上海
                            a(href="") 广州
                            a(href="") 重庆
                    li.clear
                        .left
                            a.first C
                        .right
                            a(href="") 北京
                            a(href="") 上海
                            a(href="") 广州
                            a(href="") 重庆
                            a(href="") 北京
                            a(href="") 上海
                            a(href="") 广州
                            a(href="") 重庆
                    li.clear
                        .left
                            a.first D
                        .right
                            a(href="") 北京
                            a(href="") 上海
                            a(href="") 广州
                            a(href="") 重庆
                            a(href="") 北京
                            a(href="") 上海
                            a(href="") 广州
                            a(href="") 重庆
                    li.clear
                        .left
                            a.first E
                        .right
                            a(href="") 北京
                            a(href="") 上海
                            a(href="") 广州
                            a(href="") 重庆
                            a(href="") 北京
                            a(href="") 上海
                            a(href="") 广州
                            a(href="") 重庆

        include layout/fotter
        script(src="../js/common.js")





