<!DOCTYPE html>
html(lang="en")
    head
        title 详情页
        include layout/meta
        link(rel="stylesheet",href="../style/common.css")
        link(rel="stylesheet" href="../style/personalLeftmenu.css")
        link(rel="stylesheet" href="../style/detailImg.css")
    body
        include layout/head
        #content
            .content.detailImg
                .top.clear
                    .topLeft.pull-left
                        img(src="../image/common/detailImg.png")
                    .topRight.pull-right
                       .buyDetail
                           p.title 家庭保洁
                               p.price 价格：
                                   span.danjia ￥1.2/m²
                                   span.qi 87元起
                               p.buyCount 112人购买
                       .share
                           span.collection 收藏
                           span.shares 分享
                       .blockbottom
                           p.roomsize
                               span.room 房间大小
                               span.pf 55
                               span.size m²
                               span.total 共55m²
                           p.telPhone 联系电话：
                                span.num 123579485
                           p.time 预约时间：
                                span.dateTime 2016-06-06 12:00
                                span.dateImg
                           span.yuyueBtn 立即预约
                .bottom.clear
                    .bottomLeft.pull-left
                        .tab
                            span.imgDetail.active 图文详情
                            span.pingjia 累计评价
                        .tabCotent.tabBox
                            .serviceTitle 服务范围
                            .imgList
                                .listc
                                    a
                                        img(src="../image/common/serviceImg.png")
                                    p.desribe 家居、家电表面除尘编码物品整理
                                .listc
                                    a
                                        img(src="../image/common/serviceImg.png")
                                    p.desribe 家居、家电表面物品整理
                                .listc
                                    a
                                        img(src="../image/common/serviceImg.png")
                                    p.desribe 家居、家电表面
                                .listc
                                    a
                                        img(src="../image/common/serviceImg.png")
                                    p.desribe 家居、家电表面除尘


                                .listc
                                    a
                                        img(src="../image/common/serviceImg.png")
                                    p.desribe 家居、家电表面除尘编码物品整理
                                .listc
                                    a
                                        img(src="../image/common/serviceImg.png")
                                    p.desribe 家居、家电表面物品整理
                                .listc
                                    a
                                        img(src="../image/common/serviceImg.png")
                                    p.desribe 家居、家电表面
                                .listc
                                    a
                                        img(src="../image/common/serviceImg.png")
                                    p.desribe 家居、家电表面除尘

                            .standard
                                .standardTitle 服务标准
                                p.p1
                                    span.img1.imgSpan
                                    span 地面干净，离开时带走垃圾
                                p.p2
                                    span.img2.imgSpan
                                    span 室内整体光亮无尘，镜面及室内玻璃污污渍，无水印，物品整齐归位
                                p.p3
                                    span.img3.imgSpan
                                    span 厨房清洁无油烟，浴室光洁无水渍，水龙头及水池无污渍、无水印、无杂物
                            //.page
                            //    .pageC
                            //        span.currentPage 共15页/200条
                            //        .pages
                            //            a.active(href="") 1
                            //            a(href="") 2
                            //            a(href="") 3
                            //            a(href="") 4
                            //            a(href="") 5
                            //            a(href="") 6
                            //        a.nextPage 后一页
                            //        a.last 末页

                        .evaluatelist.tabBox(style="display:none")
                            .block1
                                .blockList.clear
                                    img.pull-left(src="../image/personalCenter/orderImg.png" width="72" height="72")
                                    .describe.pull-left
                                        .sName  地砖保养
                                        .sdes 非常不错的一次服务，工作人员看起来非常专业，地砖保养得很仔细，而且服务态度也非常好,个人大大的推荐，绝对好，包你满意的一次服务，真心好
                                    .time.pull-right  2016 06-06  12:00
                                .imgList
                                    img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                                    img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                                    img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                                    img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                                    img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                                    img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                                    img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                                    img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                                    img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                                    img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                            .block1
                                .blockList.clear
                                    img.pull-left(src="../image/personalCenter/orderImg.png" width="72" height="72")
                                    .describe.pull-left
                                        .sName  地砖保养
                                        .sdes 非常不错的一次服务，工作人员看起来非常专业，地砖保养得很仔细，而且服务态度也非常好,个人大大的推荐，绝对好，包你满意的一次服务，真心好
                                    .time.pull-right  2016 06-06  12:00
                                .imgList
                                    img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                                    img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                            .block1
                                .blockList.clear
                                    img.pull-left(src="../image/personalCenter/orderImg.png" width="72" height="72")
                                    .describe.pull-left
                                        .sName  地砖保养
                                        .sdes 非常不错的一次服务，工作人员看起来非常专业，地砖保养得很仔细，而且服务态度也非常好,个人大大的推荐，绝对好，包你满意的一次服务，真心好
                                    .time.pull-right  2016 06-06  12:00
                                .imgList
                            .block1
                                .blockList.clear
                                    img.pull-left(src="../image/personalCenter/orderImg.png" width="72" height="72")
                                    .describe.pull-left
                                        .sName  地砖保养
                                        .sdes 非常不错的一次服务，工作人员看起来非常专业，地砖保养得很仔细，而且服务态度也非常好,个人大大的推荐，绝对好，包你满意的一次服务，真心好
                                    .time.pull-right  2016 06-06  12:00
                                .imgList


                            .page
                                .pageC
                                    span.currentPage 共15页/200条
                                    .pages
                                        a.active(href="") 1
                                        a(href="") 2
                                        a(href="") 3
                                        a(href="") 4
                                        a(href="") 5
                                        a(href="") 6
                                    a.nextPage 后一页
                                    a.last 末页


                    .bottomRight.pull-right
                        p.topTitle 推荐服务
                        .serverList
                            .serverBlock
                                img(src="../image/personalCenter/service.png")
                                .serviceb.clear
                                    .serLeft.pull-left.title 日常保洁
                                    .serRight.pull-right.byeNum 139人购买
                                .serPrice.clear
                                    span.price ￥1.5/m²
                                    span.allPrice 34元起
                            .serverBlock
                                img(src="../image/personalCenter/service.png")
                                .serviceb
                                    .serLeft.pull-left.title 日常保洁
                                    .serRight.pull-right.byeNum 139人购买
                                .serPrice.clear
                                    span.price ￥1.5/m²
                                    span.allPrice 34元起
                            .serverBlock
                                img(src="../image/personalCenter/service.png")
                                .serviceb.clear
                                    .serLeft.pull-left.title 日常保洁
                                    .serRight.pull-right.byeNum 139人购买
                                .serPrice
                                    span.price ￥1.5/m²
                                    span.allPrice 34元起





        include layout/fotter
        script(src="../js/plugins/zepto.min.js")
        script(src="../js/common.js")
        script(src="../js/detail.js")





