<!DOCTYPE html>
html(lang="en")
    head
        title 个人中心_关于我们
        include layout/meta
        link(rel="stylesheet",href="../style/common.css")
        link(rel="stylesheet" href="../style/integral.css")
    body
        include layout/head
        #content.integral
            .banner
                .content
                    .box
                        h3 绿芽新枝
                        p 当前积分:214分
                        div
                            a(href="")
                                img(src="../image/integral/integral08.png")
                                span 积分记录
             .content
                 h2 积分兑换
                 ul.list.clear
                     li
                        .box
                            img(src="../image/integral/integral04.png")
                            h4.overflow Apply大礼包
                            p.overflow 超强组合
                            div
                                span 所需积分
                                b 1899
                                a(href="") 兑换
                     li
                         .box
                             img(src="../image/integral/integral05.png")
                             h4.overflow Apply大礼包
                             p.overflow 超强组合
                             div
                                 span 所需积分
                                 b 1899
                                 a(href="") 兑换
                     li
                         .box
                             img(src="../image/integral/integral06.png")
                             h4.overflow Apply大礼包
                             p.overflow 超强组合
                             div
                                 span 所需积分
                                 b 1899
                                 a(href="") 兑换
                     li
                        .box
                             img(src="../image/integral/integral07.png")
                             h4.overflow Apply大礼包
                             p.overflow 超强组合
                             div
                                 span 所需积分
                                 b 1899
                                 a(href="") 兑换
                     li
                         .box
                             img(src="../image/integral/integral04.png")
                             h4.overflow Apply大礼包
                             p.overflow 超强组合
                             div
                                 span 所需积分
                                 b 1899
                                 a(href="") 兑换
                     li
                         .box
                             img(src="../image/integral/integral05.png")
                             h4.overflow Apply大礼包
                             p.overflow 超强组合
                             div
                                 span 所需积分
                                 b 1899
                                 a(href="") 兑换
                     li
                         .box
                             img(src="../image/integral/integral06.png")
                             h4.overflow Apply大礼包
                             p.overflow 超强组合
                             div
                                 span 所需积分
                                 b 1899
                                 a(href="") 兑换
                     li
                         .box
                             img(src="../image/integral/integral07.png")
                             h4.overflow Apply大礼包
                             p.overflow 超强组合
                             div
                                 span 所需积分
                                 b 1899
                                 a(href="") 兑换



        include layout/fotter
        script(src="../js/common.js")
