<!DOCTYPE html>
html(lang="en")
    head
        title 个人中心_ 我的收藏
        include layout/meta
        link(rel="stylesheet",href="../style/common.css")
        link(rel="stylesheet" href="../style/personalLeftmenu.css")
        link(rel="stylesheet" href="../style/myCollection.css")
    body
        include layout/head
        #content.recommendedData.clear
            .personalLeft.pull-left
                .menus
                    .title
                        h1 个人中心
                        span Personal Center
                .menuList
                    #listContent
                        a(href="") 我的订单
                            span.arrow
                        a(href="") 我的收藏
                            span.arrow
                        a(href="") 我的评价
                            span.arrow
                        a(href="") 我的积分
                            span.arrow
                        a(href="") 关于我们
                            span.arrow
                        a(href="") 修改密码
                            span.arrow
                        a(href="") 意见反馈
                            span.arrow
                        a.active(href="") 服务地址
                            span.arrow
            .personalRight.pull-right
                .pageTitle
                    span.title
                        h1.geren 我的
                        h1.con 收藏
                .serverList.clear
                    .serverBlock.pull-left
                        img(src="../image/personalCenter/service.png")
                        .serviceb.clear
                            .serLeft.pull-left.title 日常保洁
                            .serRight.pull-right.byeNum 139人购买
                        .serPrice
                            span.price ￥1.5/m²
                            span.allPrice 34元起
                    .serverBlock.pull-left.lr
                        img(src="../image/personalCenter/service.png")
                        .serviceb.clear
                            .serLeft.pull-left.title 日常保洁
                            .serRight.pull-right.byeNum 139人购买
                        .serPrice
                            span.price ￥1.5/m²
                            span.allPrice 34元起
                    .serverBlock.pull-left
                        img(src="../image/personalCenter/service.png")
                        .serviceb.clear
                            .serLeft.pull-left.title 日常保洁
                            .serRight.pull-right.byeNum 139人购买
                        .serPrice
                            span.price ￥1.5/m²
                            span.allPrice 34元起
                    .serverBlock.pull-left
                        img(src="../image/personalCenter/service.png")
                        .serviceb.clear
                            .serLeft.pull-left.title 日常保洁
                            .serRight.pull-right.byeNum 139人购买
                        .serPrice
                            span.price ￥1.5/m²
                            span.allPrice 34元起
                    .serverBlock.pull-left.lr
                        img(src="../image/personalCenter/service.png")
                        .serviceb.clear
                            .serLeft.pull-left.title 日常保洁
                            .serRight.pull-right.byeNum 139人购买
                        .serPrice
                            span.price ￥1.5/m²
                            span.allPrice 34元起
                    .serverBlock.pull-left
                        img(src="../image/personalCenter/service.png")
                        .serviceb.clear
                            .serLeft.pull-left.title 日常保洁
                            .serRight.pull-right.byeNum 139人购买
                        .serPrice
                            span.price ￥1.5/m²
                            span.allPrice 34元起



                .page
                    .pageC
                        span.currentPage 共15页/200条
                        .pages
                            a.active(href="") 1
                            a(href="") 2
                            a(href="") 3
                            a(href="") 4
                            a(href="") 5
                            a(href="") 6
                        a.nextPage 后一页
                        a.last 末页


        include layout/fotter
        script(src="../js/common.js")
                                                                                                                                                      