<!DOCTYPE html>
html(lang="en")
    head
        title 个人中心_我的评价
        include layout/meta
        link(rel="stylesheet",href="../style/common.css")
        link(rel="stylesheet" href="../style/personalLeftmenu.css")
        link(rel="stylesheet" href="../style/myEvaluate.css")
    body
        include layout/head
        #content.recommendedData.clear
            .personalLeft.pull-left
                .menus
                    .title
                        h1 个人中心
                        span Personal Center
                .menuList
                    #listContent
                        a(href="myOrder.html") 我的订单
                            span.arrow
                        a(href="myCollection.html") 我的收藏
                            span.arrow
                        a.active(href="myEvaluate.html") 我的评价
                            span.arrow
                        a(href="integralRecord.html") 我的积分
                            span.arrow
                        a(href="aboutUs.html") 关于我们
                            span.arrow
                        a(href="updatePwd.html") 修改密码
                            span.arrow
                        a(href="feedback.html") 意见反馈
                            span.arrow
                        a(href="serviceAddress.html") 服务地址
                            span.arrow
            .personalRight.pull-right
                .pageTitle
                    span.title
                        h1.geren 我的
                        h1.con 评价

                .evaluatelist
                    .block1
                        .blockList.clear
                            img.pull-left(src="../image/personalCenter/orderImg.png" width="72" height="72")
                            .describe.pull-left
                                .sName  地砖保养
                                .sdes 非常不错的一次服务，工作人员看起来非常专业，地砖保养得很仔细，而且服务态度也非常好,个人大大的推荐，绝对好，包你满意的一次服务，真心好
                            .time.pull-right  2016 06-06  12:00
                        .imgList
                            img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                            img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                            img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                            img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                            img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                            img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                            img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                            img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                            img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                            img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                    .block1
                        .blockList.clear
                            img.pull-left(src="../image/personalCenter/orderImg.png" width="72" height="72")
                            .describe.pull-left
                                .sName  地砖保养
                                .sdes 非常不错的一次服务，工作人员看起来非常专业，地砖保养得很仔细，而且服务态度也非常好,个人大大的推荐，绝对好，包你满意的一次服务，真心好
                            .time.pull-right  2016 06-06  12:00
                        .imgList
                            img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                            img.pull-left(src="../image/personalCenter/evimg_03.png" width="89" height="89")
                    .block1
                        .blockList.clear
                            img.pull-left(src="../image/personalCenter/orderImg.png" width="72" height="72")
                            .describe.pull-left
                                .sName  地砖保养
                                .sdes 非常不错的一次服务，工作人员看起来非常专业，地砖保养得很仔细，而且服务态度也非常好,个人大大的推荐，绝对好，包你满意的一次服务，真心好
                            .time.pull-right  2016 06-06  12:00
                        .imgList
                    .block1
                        .blockList.clear
                            img.pull-left(src="../image/personalCenter/orderImg.png" width="72" height="72")
                            .describe.pull-left
                                .sName  地砖保养
                                .sdes 非常不错的一次服务，工作人员看起来非常专业，地砖保养得很仔细，而且服务态度也非常好,个人大大的推荐，绝对好，包你满意的一次服务，真心好
                            .time.pull-right  2016 06-06  12:00
                        .imgList


                .page
                    .pageC
                        span.currentPage 共15页/200条
                        .pages
                            a.active(href="") 1
                            a(href="") 2
                            a(href="") 3
                            a(href="") 4
                            a(href="") 5
                            a(href="") 6
                        a.nextPage 后一页
                        a.last 末页








        include layout/fotter
        script(src="../js/common.js")





