<!DOCTYPE html>
html(lang="en")
    head
        title 个人中心_我的订单
        include layout/meta
        link(rel="stylesheet",href="../style/common.css")
        link(rel="stylesheet" href="../style/personalLeftmenu.css")
        link(rel="stylesheet" href="../style/myOrder.css")
    body
        include layout/head
        #content.recommendedData.clear
            .personalLeft.pull-left
                .menus
                    .title
                        h1 个人中心
                        span Personal Center
                .menuList
                    #listContent
                        a(href="") 我的订单
                            span.arrow
                        a(href="") 我的收藏
                            span.arrow
                        a(href="") 我的评价
                            span.arrow
                        a(href="") 我的积分
                            span.arrow
                        a(href="") 关于我们
                            span.arrow
                        a(href="") 修改密码
                            span.arrow
                        a(href="") 意见反馈
                            span.arrow
                        a.active(href="") 服务地址
                            span.arrow
            .personalRight.pull-right
                .pageTitle
                    span.title
                        h1.geren 我的
                        h1.con 订单
                .orders
                    .order
                        .orderTitle.clear
                            span.t1.pull-left 服务
                            span.t2.pull-left 预约时间
                            span.t3.pull-left 面积(m²)
                            span.t4.pull-left 总金额(元)
                            span.t5.pull-left 交易状态
                            span.t6.pull-left 交易操作
                    .orderList
                        .orderMsg
                            span.time  2016-06-06 12:00
                            span.orderNum 订单号:51214521532154215
                        .orderDetail.clear
                            .div.centerOrder.pull-left
                                span.t1.pull-left
                                    img.pull-left(src="../image/personalCenter/orderImg.png" width="72" height="72")
                                    span.orderName.pull-left(title="dd") dd
                                    span.price.pull-left ￥60/m²
                                    span.allPrice.pull-left 500元起
                                span.t2.pull-left 2016-06-06 12:00
                                span.t3.pull-left 55m²
                            span.t4.pull-left 2800.00
                            span.t5.pull-left
                                p 等待付款
                                a(href="orderDetail") 订单详情
                            span.t6.pull-left.pay
                                a 支付

                    .nullbg
                    .orderList
                        .orderMsg
                            span.time  2016-06-06 12:00
                            span.orderNum 订单号:51214521532154215
                        .orderDetail.clear.evaluation
                            div.centerOrder.pull-left
                                span.t1.pull-left
                                    img.pull-left(src="../image/personalCenter/orderImg.png" width="72" height="72")
                                    span.orderName.pull-left(title="地砖保养地砖保养") 地砖保养地砖保养
                                    span.price.pull-left ￥60/m²
                                    span.allPrice.pull-left 500元起
                                span.t2.pull-left 2016-06-06 12:00
                                span.t3.pull-left 55m²
                            span.t4.pull-left 2800.00
                            span.t5.pull-left
                                p 等待付款
                                a(href="orderDetail") 订单详情
                            span.t6.pull-left.pay
                                a 评价
                        .orderDetail.clear.evaluation
                            div.centerOrder.pull-left
                                span.t1.pull-left
                                    img.pull-left(src="../image/personalCenter/orderImg.png" width="72" height="72")
                                    span.orderName.pull-left(title="地砖保养地砖保养地砖保养") 地砖保养地砖保养地砖保养
                                    span.price.pull-left ￥60/m²
                                    span.allPrice.pull-left 500元起
                                span.t2.pull-left 2016-06-06 12:00
                                span.t3.pull-left 55m²
                            span.t4.pull-left 2800.00
                            span.t5.pull-left
                                p 等待付款
                                a(href="orderDetail") 订单详情
                            span.t6.pull-left.pay
                                a 评价
                    .nullbg


        include layout/fotter
        script(src="../js/common.js")





