<!DOCTYPE html>
html(lang="en")
    head
        title 服务
        include layout/meta
        link(rel="stylesheet",href="../style/common.css")
        link(rel="stylesheet" href="../style/pay.css")
    body
        include layout/head
        #content.pay
            .content
                
        include layout/fotter
        script(src="../js/common.js")





