<!DOCTYPE html>
html(lang="en")
    head
        title 个人中心
        include layout/meta
        link(rel="stylesheet",href="../style/common.css")
        link(rel="stylesheet" href="../style/personalLeftmenu.css")
        link(rel="stylesheet" href="../style/personalCenter.css")
    body
        include layout/head
        #content.recommendedData.clear
            .personalLeft.pull-left
                .menus
                    .title
                        h1 个人中心
                        span Personal Center
                .menuList
                    #listContent
                        a(href="myOrder.html") 我的订单
                            span.arrow
                        a(href="myCollection.html") 我的收藏
                            span.arrow
                        a(href="myEvaluate.html") 我的评价
                            span.arrow
                        a(href="integralRecord.html") 我的积分
                            span.arrow
                        a(href="aboutUs.html") 关于我们
                            span.arrow
                        a(href="updatePwd.html") 修改密码
                            span.arrow
                        a(href="feedback.html") 意见反馈
                            span.arrow
                        a.active(href="serviceAddress.html") 服务地址
                            span.arrow
            .personalRight.pull-right
                .pageTitle
                    span.title
                        h1.geren 推荐
                        h1.con 服务
                .serverList.clear
                    .serverBlock.pull-left
                        img(src="../image/personalCenter/service.png")
                        .serviceb.clear
                            .serLeft.pull-left.title 日常保洁
                            .serRight.pull-right.byeNum 139人购买
                        .serPrice
                            span.price ￥1.5/m²
                            span.allPrice 34元起
                    .serverBlock.pull-left.lr
                        img(src="../image/personalCenter/service.png")
                        .serviceb.clear
                            .serLeft.pull-left.title 日常保洁
                            .serRight.pull-right.byeNum 139人购买
                        .serPrice
                            span.price ￥1.5/m²
                            span.allPrice 34元起
                    .serverBlock.pull-left
                        img(src="../image/personalCenter/service.png")
                        .serviceb.clear
                            .serLeft.pull-left.title 日常保洁
                            .serRight.pull-right.byeNum 139人购买
                        .serPrice
                            span.price ￥1.5/m²
                            span.allPrice 34元起
                    .serverBlock.pull-left
                        img(src="../image/personalCenter/service.png")
                        .serviceb.clear
                            .serLeft.pull-left.title 日常保洁
                            .serRight.pull-right.byeNum 139人购买
                        .serPrice
                            span.price ￥1.5/m²
                            span.allPrice 34元起
                    .serverBlock.pull-left.lr
                        img(src="../image/personalCenter/service.png")
                        .serviceb.clear
                            .serLeft.pull-left.title 日常保洁
                            .serRight.pull-right.byeNum 139人购买
                        .serPrice
                            span.price ￥1.5/m²
                            span.allPrice 34元起
                    .serverBlock.pull-left
                        img(src="../image/personalCenter/service.png")
                        .serviceb.clear
                            .serLeft.pull-left.title 日常保洁
                            .serRight.pull-right.byeNum 139人购买
                        .serPrice
                            span.price ￥1.5/m²
                            span.allPrice 34元起



        include layout/fotter
        script(src="../js/common.js")
                                                                                                                                                      