<!DOCTYPE html>
html(lang="en")
    head
        title 服务
        include layout/meta
        link(rel="stylesheet",href="../style/common.css")
        link(rel="stylesheet" href="../style/server.css")
    body
        include layout/head
        #content.server
            .content
                .bar
                    a(href="") 首页
                    span >
                    a(href="") 服务
                    span >
                    a(href="") 保洁服务
                ul.nav.clear
                    li
                        a(href="")
                            img.img1(src="../image/server/server_13.png")
                            img.img2(src="../image/server/server_01.png")
                            span 全部服务
                    li
                        a(href="")
                            img.img1(src="../image/server/server_14.png")
                            img.img2(src="../image/server/server_02.png")
                            span 保洁服务
                    li
                        a(href="")
                            img.img1(src="../image/server/server_15.png")
                            img.img2(src="../image/server/server_03.png")
                            span 家居保养
                    li
                        a(href="")
                            img.img1(src="../image/server/server_16.png")
                            img.img2(src="../image/server/server_04.png")
                            span 家电清洗
                    li
                        a(href="")
                            img.img1(src="../image/server/server_17.png")
                            img.img2(src="../image/server/server_05.png")
                            span 保姆月嫂
                    li(style="border:none")
                        a(href="")
                            img.img1(src="../image/server/server_18.png")
                            img.img2(src="../image/server/server_06.png")
                            span 家居更换

                 ul.list.clear
                     li
                        a(href="")
                            img(src="../image/server/server_07.png")
                            h3 日常保洁
                            p 3个小时起服务
                     li
                         a(href="")
                             img(src="../image/server/server_08.png")
                             h3 日常保洁
                             p 3个小时起服务
                     li
                         a(href="")
                             img(src="../image/server/server_09.png")
                             h3 日常保洁
                             p 3个小时起服务
                     li
                         a(href="")
                             img(src="../image/server/server_10.png")
                             h3 日常保洁
                             p 3个小时起服务
                     li
                         a(href="")
                             img(src="../image/server/server_11.png")
                             h3 日常保洁
                             p 3个小时起服务
                     li
                         a(href="")
                             img(src="../image/server/server_12.png")
                             h3 日常保洁
                             p 3个小时起服务
        include layout/fotter
        script(src="../js/common.js")





