<!DOCTYPE html>
html(lang="en")
    head
        title 首页
        include views/layout/meta
        link(rel="stylesheet",href="../style/common.css")
        link(rel="stylesheet" href="../style/index.css")
    body
        include views/layout/head
        #content.index
            .banner
                img(src="image/index/index_20.png")
            .content
                .h2
                    .title
                        span 贴心服务
                    span 一切只为更好的生活
                ul.box1.clear
                    li(style="height:446px; background:#ff8a00; padding-top:110px;")
                        a(href="")
                            img(src="image/index/index_10.png")
                            span 家庭保洁
                    li(style="background:#2bc1e6")
                        a(href="")
                            img(src="image/index/index_07.png")
                            span 家电清洗
                    li(style="background:#ff9c00")
                        a(href="")
                            img(src="image/index/index_08.png")
                            span 家具保养
                    li(style="background:#48c0b0")
                        a(href="")
                            img(src="image/index/index_09.png")
                            span 开荒保洁
                    li(style="background:#ff6363")
                        a(href="")
                            img(src="image/index/index_13.png")
                            span 家庭用品
                    li(style="background:#73a4f5")
                        a(href="")
                            img(src="image/index/index_11.png")
                            span 叮咚喵猫
                    li(style="background:#8acb28")
                        a(href="")
                            img(src="image/index/index_12.png")
                            span 叮咚速运
            .content
                .h2
                    .title
                        span 更多服务
                    span 尽享品质生活
                ul.box2.clear
                    li
                        a(href="")
                            .img
                                img(src="image/index/index_14.png")
                            .about
                                img(src="image/index/index_01.png")
                            p 日常保洁
                            span 3小时起服务
                    li
                        a(href="")
                            .img
                                img(src="image/index/index_15.png")
                            .about
                                img(src="image/index/index_02.png")
                            p 玻璃清洗
                            span 洁净明亮如初
                    li
                        a(href="")
                            .img
                                img(src="image/index/index_16.png")
                            .about
                                img(src="image/index/index_03.png")
                            p 包月服务
                            span 家务无烦恼
                    li
                        a(href="")
                            .img
                                img(src="image/index/index_17.png")
                            .about
                                img(src="image/index/index_04.png")
                            p 蒸汽消毒
                            span 病菌一扫光
                    li
                        a(href="")
                            .img
                                img(src="image/index/index_18.png")
                            .about
                                img(src="image/index/index_05.png")
                            p 厨房深度保洁
                            span 3小时起服务
                    li
                        a(href="")
                            .img
                                img(src="image/index/index_19.png")
                            .about
                                img(src="image/index/index_06.png")
                            p 日常保洁
                            span 3小时起服务


        include views/layout/fotter
        script(src="js/common.js")

